[Desktop Entry]
Name=Binary Ninja
Exec=binja %u
MimeType=application/x-binaryninja;x-scheme-handler/binaryninja;
Icon=binaryninja
Terminal=false
Type=Application
Categories=Utility;
Comment=A Reverse Engineering Platform
